<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id        = "com.mobilecity.driver"
    versionCode = "18"
    version   = "8.0"
    >
    <name>Mobilecity Driver App</name>
    <description>
        Mobilecity Driver App
    </description>
    <author email="bastikikang@gmail.com" href="http://cordova.io">
        http://mobilecity-shopping-delivery.akstech.com.sg
    </author>
    <icon src="icon.png" />
    <content src="index.html" />

	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none"/>

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />

	<gap:plugin name="phonegap-plugin-push" source="npm" spec="2.1.2"  />

    <gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />

	<gap:plugin name="cordova-plugin-request-location-accuracy_sayeh" source="npm" spec="2.2.2" />
	<gap:plugin name="cordova-plugin-x-toast" source="npm" spec="2.7.0" />
	<gap:plugin name="cordova-plugin-media" source="npm" spec="5.0.2" />

    <plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />
    <gap:plugin name="cordova-plugin-buildinfo" source="npm" spec="2.0.1"  />
    <gap:plugin name="cordova-plugin-vibration" source="npm" spec="2.1.4" />
    <gap:plugin name="cordova-plugin-camera" source="npm" spec="4.0.3" />
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" spec="1.7.1" />

    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="3.0.0-alpha.46">
      <variable name="GOOGLE_PLAY_SERVICES_VERSION" value="11.0.1" />
	  <variable name="ANDROID_SUPPORT_LIBRARY_VERSION" value="23+" />
	  <variable name="ALWAYS_USAGE_DESCRIPTION" value="App requires background tracking enabled" />
	  <variable name="MOTION_USAGE_DESCRIPTION" value="App requires motion detection" />
    </plugin>

    <plugin name="uk.co.workingedge.phonegap.plugin.launchnavigator" source="npm" spec="5.0.4" >
       <variable name="GOOGLE_API_KEY_FOR_ANDROID" value="" />
    </plugin>


	<gap:splash src="splash.png" />
	<preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="5000" />

    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />

    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />

    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >
        </application>
    </gap:config-file>

    <gap:plugin name="cordova.plugins.diagnostic" source="npm" spec="3.7.3" />

    <preference name="phonegap-version" value="cli-8.1.1" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="DisallowOverscroll" value="true" />

    <platform name="ios">
	    <config-file platform="ios" target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
	        <string>Karenderia want to always use your location</string>
	    </config-file>
	    <config-file platform="ios" target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
	        <string>Karenderia wants to use your location</string>
	    </config-file>
	    <config-file platform="ios" target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
	        <string>Karenderia wants to use your location</string>
	    </config-file>
	</platform>

	<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>need camera access to take pictures</string>
	</edit-config>

	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need to photo library access to get pictures from there</string>
	</edit-config>

	<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need location access to find things nearby</string>
	</edit-config>

	<edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need location access to find things nearby</string>
	</edit-config>

	<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need to photo library access to save pictures there</string>
	</edit-config>

	<edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
      <string>need microphone access to record sounds</string>
    </edit-config>

    <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
	    <string>need location access to find things nearby</string>
	</edit-config>

	<platform name="android">

	    <resource-file src="www/beep.wav" target="app/src/main/res/raw/beep.wav" />
	    <resource-file src="www/beep.wav" target="res/raw/beep.wav" />

	    <resource-file src="google-services.json" target="google-services.json" />
	    <resource-file src="google-services.json" target="app/google-services.json" />
      <icon density="ldpi" src="res/icon/android/ldpi.png"/>
      <icon density="mdpi" src="res/icon/android/mdpi.png"/>
      <icon density="hdpi" src="res/icon/android/hdpi.png"/>
      <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
      <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
      <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
       <!--  Portrait  -->
      <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
      <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
      <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
      <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
      <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
      <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>

	</platform>
	<platform name="ios">

	    <resource-file src="GoogleService-Info.plist" />
	    <resource-file src="www/beep.wav" />
      <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024"/>
<icon src="res/icon/ios/icon-small.png" width="29" height="29"/>
<icon src="res/icon/ios/icon-small@2x.png" width="58" height="58"/>
<icon src="res/icon/ios/icon-small@3x.png" width="87" height="87"/>
<icon src="res/icon/ios/icon-small-40.png" width="40" height="40"/>
<icon src="res/icon/ios/icon-small-40@2x.png" width="80" height="80"/>
<icon src="res/icon/ios/icon-small-40@3x.png" width="120" height="120"/>
<icon src="res/icon/ios/icon-small-50.png" width="50" height="50"/>
<icon src="res/icon/ios/icon-small-50@2x.png" width="100" height="100"/>
<icon src="res/icon/ios/icon.png" width="57" height="57"/>
<icon src="res/icon/ios/icon@2x.png" width="114" height="114"/>
<icon src="res/icon/ios/icon-60.png" width="60" height="60"/>
<icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"/>
<icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"/>
<icon src="res/icon/ios/icon-72.png" width="72" height="72"/>
<icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"/>
<icon src="res/icon/ios/icon-76.png" width="76" height="76"/>
<icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"/>
<icon src="res/icon/ios/icon-167.png" width="167" height="167"/>
<icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167"/>
 <!--  Storyboard portrait  -->
<splash src="res/screen/ios/Default@2x~iphone~anyany.png"/>
<splash src="res/screen/ios/Default@2x~iphone~comany.png"/>
<splash src="res/screen/ios/Default@3x~iphone~anyany.png"/>
<splash src="res/screen/ios/Default@3x~iphone~comany.png"/>
<splash src="res/screen/ios/Default@2x~ipad~anyany.png"/>
<splash src="res/screen/ios/Default@2x~ipad~comany.png"/>
			</platform>

</widget>
